body {
  margin: 0;
  font-family: 'Latam Sans Hairline', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    width: 100%;
    max-width: 1920px; /* Defina um valor máximo adequado */
    margin: 0 auto; /* Centraliza o container */
    padding: 0 00px; /* Adiciona espaçamento interno */
  
}


@font-face {
  font-family: 'Latam Sans Hairline';
  src: url('./assets/fonts/Latam_Sans_Hairline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Latam Sans Hairline';
  src: url('./assets/fonts/Latam_Sans_Hairline.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Latam Sans Hairline';
  src: url('./assets/fonts/Latam_Sans_Hairline.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Latam Sans Hairline';
  src: url('./assets/fonts/Latam_Sans_Regular.otf') format('opentype');
  font-weight: 100; /* Usando um peso específico se necessário */
  font-style: normal;
}


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita o scroll horizontal */
}

.container {
  max-width: 100%; /* Garante que o container não exceda a largura da tela */
  overflow: hidden; /* Previne overflow indesejado */
}

img {
  max-width: 100%; /* Faz com que imagens se ajustem ao tamanho do container */
  height: auto; /* Mantém a proporção das imagens */
}
.flex-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
  justify-content: center; /* Alinha itens no centro */
}

.flex-item {
  flex: 1 1 auto; /* Os itens vão ocupar espaço responsivamente */
  min-width: 200px; /* Define uma largura mínima */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colunas responsivas */
  gap: 10px; /* Espaçamento entre os itens */
}

.font-latam{
  font-family: 'Latam Sans', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.card-dashboard  {
  border: solid rgb(227, 226, 226) 0.2px;
  width: 320px;
  height: 200px;
  
}
.card-dashboard:hover {
  transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
  border-color: rgb(101, 100, 100); /* Escurece ligeiramente a borda */
}




/* 16:10: */
/* 1280x800 */
@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 800px) {
  .largura {
    width: 700px !important; /* Ajuste conforme necessário */
    /* border: solid rgb(0, 0, 0) 1px; */
  }
  .right{
    margin-right: 100px;
    }
    .left{
    margin-left: 100px;
    }
    
}

/* 1440x900 */
@media (min-width: 1440px) and (max-width: 1440px) and (min-height: 900px) and (max-height: 900px) {
  .largura {
    width: 850px !important; /* Ajuste conforme necessário */
    /* border: solid blue 1px; */
  }
  .right{
    margin-right: 100px;
    }
    .left{
    margin-left: 100px;
    }
}


/* tablet modelo */
@media (min-width: 1300px) and (max-width: 1340px) and (min-height: 750px) and (max-height: 820px) {
  .tabletModelo-assinatura-login{
    transform: translateY(5.1rem);
    margin-top:0px !important;
    height: 20vh !important;
    width: 30vh !important;
  }
  .tabletModelo-assinatura{
   
    margin-top:0px !important;
    height: 20vh !important;
    width: 30vh !important;
  }
  .card-dashboard{
    height: 230px !important;
  }
  html, body {
    overflow: hidden !important;
    height: 100% ;
  }
  /* Garante que nenhum elemento dentro do body cause overflow */
  * {
    box-sizing: border-box;
  }
}



/* 1920x1200 */
@media (min-width: 1850px) and (max-width: 1940px) and (min-height: 1150px) and (max-height: 1250px) {
  .largura {
    width: 1100px !important; /* Ajuste conforme necessário */
    /* border: solid green 1px; */
  }
  .right{
    margin-right: 100px;
    }
    .left{
    margin-left: 100px;
    }
    .tabletModelo-assinatura-login{
      transform: translateY(8.1rem);
      margin-top:0px !important;
      height: 20vh !important;
      width: 30vh !important;
    }
    .tabletModelo-assinatura{
      transform: translateY(1.1rem);
      margin-top:0px !important;
      height: 20vh !important;
      width: 30vh !important;
    }
    .tabletModelo-destino{
      height: 500px;
      width: 100%;
     
    }
    .tabletModelo-destino-dash{
      margin-top:100px !important
    }
     /* Aumenta o tamanho dos inputs */
    .cadastro-input {
    font-size: 1.2em;
    padding: 12px 20px;
    height:80px !important;
    width:500px
  }
  .horarios-agendar{
    height:40vh;
  }
  .horarios {
    max-height: 350px !important; /* ajuste o valor conforme necessário */
  }
  .horarios-cadeiras {
    font-size: 92px !important; /* ajuste a fonte para 8xl se necessário */
  }
  .aumentando-horarios{
    font-size: 40px;
   margin-bottom:18px
  }
  /* Aumenta o tamanho dos botões */
  button {
    font-size: 1.2em;
    padding: 12px 20px;
  }
    .card-dashboard{
      height:330px !important;
      max-width: 400px !important;
    }
    .cards{
      height:400px;
      width: 150vh !important;
      
    }
    .tamanho-botao-tabletModelo{
      width: 0px !important;
    }
    .btn-large-buttons{
      width: 800px !important;
       height:100px !important;
    }
    .btn-large {
      width: 210px !important; /* Aumenta o tamanho do padding */
      font-size: 1.25rem; /* Aumenta o tamanho da fonte */
      height:200px !important;
    }
    .btn-large-novo {
      width: 250px !important; /* Aumenta o tamanho do padding */
      font-size: 1.25rem; /* Aumenta o tamanho da fonte */
     
    }
}



/* 16:9:
/* 1280x720 */
@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 720px) {
  .largura {
    width: 700px !important; /* Ajuste conforme necessário */
    /* border: solid red 1px; */
  }
  .right{
    margin-right: 100px;
    }
    .left{
    margin-left: 100px;
    }
   
}

/* 1366x768 */
@media (min-width: 1366px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 768px) {
  .largura {
    width: 800px !important; /* Ajuste conforme necessário */
    /* border: solid blue 1px; */
  }.right{
    margin-right: 100px;
    }
    .left{
    margin-left: 100px;
    }
}

/* 1920x1080 */
@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
  .largura {
    width: 1000px !important; /* Ajuste conforme necessário */
    /* border: solid green 1px; */
  }
  .right{
    margin-right: 100px;
    }
    .left{
    margin-left: 100px;
    }
}

/* //mobile */
@media (max-width: 640px) {
  .responsive-width {
    width: 100%; /* Ajusta para 100% em telas pequenas */
  }
  .card-dashboard{
    width: 300px;
  }
  .tabletModelo-assinatura{
    height: 40vh !important;
    width: 40vh !important;
    margin-top:0px !important
  }
  .responsive-width {
    width: 330px !important; /* Largura para telas maiores */
  }
  .tabletModelo-destino{
      height: 500px;
      width: 250vw !important;
  }
  .tabletModelo-destino-dash{
    height: 500px;
      width: 250vw !important;
  }
  .horarios{
    padding-right:0px !important;
  padding-left:0px !important;
  }
  .celular-agendar{
    padding-left:20px;
    padding-right:20px
  }
  
}

/* //tablet */
@media (min-width: 641px) and (max-width: 900px) {
  .responsive-width {
    width: 100%; /* Ajusta para 100% em telas pequenas */
  }
  .assinatura{
    transform: translateY(3.0rem);
    height: 10vh;
    width: 60vw;  
  }
  .card-dashboard{
    width: 300px;
  }
  .tabletModelo-assinatura{
    width: 35vw !important;
  }
  .responsive-width {
    width: 330px !important; /* Largura para telas maiores */
  }
  .tabletModelo-destino{
      height: 500px;
      width: 130vw !important;
  }
  .tabletModelo-destino-dash{
    height: 500px;
    width: 170vw !important;
  }
  .assinatura-dash-tablet-normal{
    transform: translateY(4.0rem);
  }
}

@media (max-width: 1280px) {
  .responsive-width {
    width: 100%; /* Ajusta para 100% em telas pequenas */
  }
  .assinatura{
    transform: translateY(5.1rem);
  }
  .card-dashboard{
    width: 220px;
    height: 100px;
   
  }
}


/* imagem 1920x1200 */
/* CSS para estilizar o placeholder */

input::placeholder {
  color: white; /* Cor do placeholder */
  opacity: 100; /* Garantir que o placeholder não fique transparente */
}

input:focus {
  background-color: rgba(65, 105, 225, 0.3); /* Manter a mesma cor de fundo ao focar */
  outline: none; /* Remove o contorno padrão */
}


.assinatura{
  transform: translateY(9.1rem);
}
.assinatura-confirma{
  transform: translateY(4.1rem);
}

/* Estilo padrão para telas maiores */
.input-container {
  width: 600px;
}

.responsive-width {
  width: 400px; /* Largura para telas maiores */
}



.card-dashboard{
  border: 0.5px solid rgba(0, 0, 0, 0.2); /* Cinza mais suave */
  border-radius:9.5%;

}

.assinatura-dashboard{
 
}

/* Estilização para transformar checkbox em bolinha */
.custom-radio {
  appearance: none; /* Remove o estilo padrão */
  background-color: #000080; /* Fundo branco para o estado desmarcado */
  border: 2px solid #000080; /* Cor azul-marinho para a borda */
  border-radius: 50%; /* Forma circular */
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-radio:checked {
  background-color: yellow; /* Fundo azul-marinho para o estado marcado */
  border-color: #000080; /* Bordas azul-marinho quando selecionado */
}

/* botoes cadastro */
.cadastrar{
  background-color: #B22222;
  height:50px !important;
   
}
.voltar{
  background-color:#191970;
  height:50px !important;
}
.agendar{
  background-color:#00BFFF;
  height:50px !important;
}


/* Estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem */
  background-color: #4682B4; /* Fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #CD5C5C; /* Cor da barra de rolagem */
  border-radius: 10px; /* Borda arredondada na barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #CD5C5C; /* Cor da barra de rolagem ao passar o mouse */
}

::-webkit-scrollbar-track {
  background: #4682B4; /* Cor do fundo da trilha da barra de rolagem */
}
.text-cadastro{
  font-size:13.5px
}
.horarios{
  padding-right:100px;
  padding-left:100px
}
.text-base{
margin-bottom: 50px;
}